$green1: #606C38;
$green2: #283618;
$orange1: #DDA15E;
$orange2: #BC6C25;
$red: #8B0000;

:root {
	--green1: #{$green1};
	--green2: #{$green2};
	--orange1: #{$orange1};
	--orange2: #{$orange2};
	--red: #{$red};
}